<%- include ('partials/header') %>
    <title><%= PageTitle %></title>
</head>
<body>
    <%- include ('partials/nav') %>
    <h1 class="text-center mt-5"> Page not found </h1>
    <p class="text-center"><%= errorMsg %></p>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>
