<%- include ('partials/header') %>
    <title><%= PageTitle %></title>
</head>
<body>
    <%- include ('partials/nav') %>
    <div class="container mt-6">
        <h1 class="text-center mt-5"> Page not found </h1>
        <p class="text-center"><%= errorMsg %></p>
    </div>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>
