<%- include ('../partials/header') %>

<title>Shop</title>
</head>
<body>

    <%- include ('../partials/nav') %>
    <div class="container mt-6">
      <div class="mt-3">
        <h3>Meals</h3>
      </div>
      <div class="recipes row d-flex">
        <% meals.forEach(meal =>{ %>
          <div class="card col-lg-2 col-md-4 col-sm-4 card-shadow recipe">
            <img class="card-img-top" src="../images/<%= meal.image %>" height="200" alt="Card image">
            <div class="card-body">
                <a class="card-title" href="#"><h5><%= meal.name %></h5></a>
                <h6>$<%= meal.price %></h6>
                <% if (currentUser) { %>
                  <input type="hidden" name="productId" value="<%= meal._id %>">
                  <button onclick="addToCart(this)" class="btn btn-gold" <%= currentUser.cart.items.find(el => el.productId._id.toString() === meal._id.toString()) ? 'disabled' : '' %>><%= currentUser.cart.items.find(el => el.productId._id.toString() === meal._id.toString()) ? 'Added' : 'Add to cart' %></button>
                  <button class="btn btn-gold"><i class="bi bi-three-dots-vertical"></i></button>
                <% } %>
            </div>
          </div>
        <% }) %>  
      </div>
      
    </div>
    <%- include ('../partials/footer') %>
    <%- include ('../partials/end') %>

    <script src="../../js/forms.js"></script>